@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../src/static/fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'),
        url('../src/static/fonts/nunito-sans-v12-latin-regular.woff') format('woff');
}

@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../src/static/fonts/nunito-sans-v12-latin-600.woff2') format('woff2'),
        url('../src/static/fonts/nunito-sans-v12-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('../src/static/fonts/nunito-sans-v12-latin-800.woff2') format('woff2'),
        url('../src/static/fonts/nunito-sans-v12-latin-800.woff') format('woff');
}

*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: "Nunito Sans", "Arial", sans-serif;
    font-weight: 400;
    background-color: #F2F2F2;
}
ul,
ol{
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
